.postbody {
  background-color: #fdf4a5;
  border: 1px;
  width: 400px;
  height: 450px;
  transform: rotate(10deg);
  padding: 18px;
  padding-top: 0;
  font-family: 'InkLipquid', cursive;
  position: relative;
  left: 300px;
  top: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.postbody::before {
  content: ''; 
  display: block;  
  position: absolute; 
  right: 0; 
  bottom: 0; 
  background-color: #ffffc7; 
  border-width: 0 0 30px 50px; 
  border-style: solid; 
  border-color: transparent transparent rgba(255, 255, 255, 0.9); 
  z-index: -1;
}

h2 {
  font-size: 32px;
  margin-bottom: 20px;
}

p {
  font-size: 32px;
  margin: 0;
  text-align: center;
}


@font-face {
  font-family: 'InkLipquid';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/InkLipquid.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GangwonEduHyeonokT_OTFMediumA';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEduHyeonokT_OTFMediumA.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Cafe24Shiningstar';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Shiningstar.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'KCC-eunyoung';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/KCC-eunyoung-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Middleschool_student';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/naverfont_08@1.0/Middleschool_student.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gothic_Goding';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/naverfont_05@1.0/Gothic_Goding.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}